<%= form_for [:admin, @pdf_newsletter] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @pdf_newsletter,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title, :class => 'larger widest'  -%>
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.pdf_newsletters.pdf_newsletter'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @pdf_newsletter.title)
              } %>
<% end -%>
